body {
    margin: 0;
    background-color: rgb(175,175,175);
    
}

* {
    font-family: 'Comfortaa', cursive;
}

.bg {
    background-image: url(../img/Abstract-Geometric-Background-Green.jpg);
    background-size: cover;    
    background-repeat: no-repeat; 
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.overlay {
    background-color: rgb(30,30,30,0.3);
    width: 100%;
    height: 100%;    
    z-index: 2;
    position: absolute;
    top: 0;
    bottom: 0;   
}

.nav {    
    float: left;
    width: 100%;    
    padding: 5px 0px 5px 0px;
    margin: 0;
    height: 70px;
}

#logo {
    float: left;
    margin-left: 80px;
    z-index: 5;
    position: absolute;
    margin-top: 30px;
}

#right {    
    margin-top: 70px;
    margin-left: 1327px;    
    text-decoration: none;
    color: white;
    font-size: 20px;   
    position: absolute;
    z-index: 3;
}

#pic {    
    float: right;
    margin-top: 55px;
    margin-right: 130px;
    z-index: 3;
}

#pro {
    position: absolute;
    z-index: 3;
}

.log-form {
    position:relative;
    top:90px;
    height:700px;
    width:800px;
    margin-left:525px;
    margin-right:auto; 
    position: relative;
    z-index: 3;
}

.lab {
    color: white;    
    padding-left: 50px;
    font-weight: bolder;
}

.log {
    float: left;
    margin-left: 50px;
}

select,
textarea, 
input[type="text"],
input[type="password"],
input[type="email"]
{
    display: inline-block;
    vertical-align: middle;
    height: 34px;
    padding: 0 10px;
    margin-top: 3px;
    margin-bottom: 10px;
    height:30px;
    width:100%;
    background-color: rgb(30,30,30,0.8);
    color: white;
    border-color: white;
    border-style:solid; 
    color: white;
}

.but
{
    background-color: rgb(62,128,83);
    border-style: none;
    padding: 20px 90px 20px 90px;
    margin-top: 50px;
    margin-left: 70px;
    font-size: 20px;
    font-weight: 700;
    color: aliceblue;
}

.but {
    border-radius: 12px;
}

#ava {
    color: white;
}

#file {
    color: white;
    background-color: rgb(30,30,30,0.8);  
    border-color: white;
    border-style:solid;
    border-width:thin;
    font-size: 12px;
}

#am {
    color: white;
    margin-left: 700px;
    margin-top: -110px; 
    text-decoration: none;
    position: absolute;
    z-index: 3;
}

.bot {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(30,30,30,0.8);    
    text-align: center;   
    color: white;
    z-index: 3;
    font-size: 12px;
}
#terms {
    text-decoration: none;  
    z-index: 3;
    color: white;
}
#priv {
    text-decoration: none;  
    z-index: 3;
    color: white;
}

.alert-fail
{
    color: coral;
    background-color: crimson;
    display: inline-block;
    padding: 0px 10px 0px 10px;
    margin-left: 80px;
}

.bg2 {
    background-image: url(../img/Abstract-Geometric-Background-Green.jpg);
    background-size: cover;    
    background-repeat: no-repeat; 
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;    
}

.alert-suc
{
    display: inline-block;
    color: darkturquoise ;
    margin-top: 5px;
    background-color: darkolivegreen;
    margin-bottom: 30px;    
    padding: 0px 10px 0px 10px;
    margin-left: 10px;
}


.regist
{
    padding-top: 30px;
}

 .prof div
{
    clear: both;
    display: inline-block;
    padding-left: 20px;
    padding-top: 20px;
    
}